*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #098ad4;
  font-family: sans-serif;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.title {
  background: #2596be;
  color: white;
  margin: 0;
  padding: 15px;
}

.textInput {
  width: 100%;
  padding: 10px;
}

.word {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  padding: 15px;
}
.successMessage,
.warningMessage,
.errorMessage {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.errorMessage {
  background: #ff4c4c;
}

.warningMessage {
  background: yellow;
}
.successMessage {
    background: green;
}
